
@{
    List<Operations> Lista = Model;
    ViewData["Title"] = "Privacy Policy";
}
<table class="table table-custom">
    <thead>
        <tr>
            <th>ID</th>
            <th>Operación</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operacion in Lista)
        {
            <tr>
                <td>@operacion.Id</td>
                <td>@operacion.Expresion</td>
                <td>@operacion.Resultado</td>
                <td>
                <form asp-action="Delete" method="post" onsubmit="return confirm('¿Está seguro que desea eliminar esta operación?');">
                    <input type="hidden" name="id" value="@operacion.Id" />
                    <button type="submit" class="btn btn-danger btn-eliminar">Eliminar</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>