@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>

<<div class="container2">
    <form class="login-form">
        <h2>Registro</h2>
        <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" id="username" name="username">
            <span class="underline"></span>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password">
            <span class="underline"></span>
        </div>
        <button type="submit">Register</button>
    </form>
</div>


