@{
    ViewData["Title"] = "Calculadora";
}


<div class="vistaCalculadora">
<div class="containerr">
    <div class="containerCont">
    <h1>Calculadora Nicolás</h1>
<table class="tableCalculadora">
    <tr>
        <td colspan="5"  style="text-align: right;" id="result">0</td>
    </tr>
    <tr>
        <td><button class="operacionesComplicadas" id="cuad">^2</button></td>
        <td><button class="operacionesComplicadas" id="cub">^3</button></td>
        <td><button class="operacionesComplicadas" id="sqr">√</button></td>
        <td><button class="operacionesComplicadas" id="log">log</button></td>
        <td><button class="operacionesComplicadas" id="MasMenos">+/-</button></td>
    </tr>

    <tr>
        <td><button class="operacionesComplicadas" id="sin">sin</button></td>
        <td><button class="operacionesComplicadas" id="cos">cos</button></td>
        <td><button class="operacionesComplicadas" id="tan">tan</button></td>
        <td><button class="operacionesComplicadas" id="fact">N!</button></td>
        <td><button class="operacionesComplicadas" id="pi">π</button></td>
        
    </tr>
    <tr>
        <td><button class="bottomPad" id="7">7</button></td>
        <td><button class="bottomPad" id="8">8</button></td>
        <td><button class="bottomPad" id="9">9</button></td>
        <td><button class="backBottons" id="erase">⌫</button></td>
        <td><button class="backBottons" id="Reset">AC</button></td>
        
    </tr>
    <tr>
        <td><button class="bottomPad" id="4">4</button></td>
        <td><button class="bottomPad" id="5">5</button></td>
        <td><button class="bottomPad" id="6">6</button></td>
        <td><button class="bottomPad" id="mult">*</button></td>
        <td><button class="bottomPad" id="div">/</button></td>
    </tr>
    <tr>
        <td><button class="bottomPad" id="1">1</button></td>
        <td><button class="bottomPad" id="2">2</button></td>
        <td><button class="bottomPad" id="3">3</button></td>
        <td><button class="bottomPad" id="plus">+</button></td>
        <td><button class="bottomPad" id="minus">-</button></td>
    </tr>
    <tr>
        <td><button class="bottomPad" id="0">0</button></td>
        <td><button class="bottomPad" id="dot">.</button></td>
        <td><button class="bottomPad" id="(">(</button></td>
        <td><button class="bottomPad" id=")">)</button></td>
        <td><button class="bottomPad" id="equals">=</button></td>
    </tr>
</table>
 </div>
</div>
</div>

